{% extends 'base.html.twig' %}


{% block title %}Add walk{% endblock %}

{% block body %}

    <div class="walk-form-page">
    
        <h1> Add/Edit walk info </h1>

        <hr>
        <div class="walk-form">
            {{ form_start(formAddBalade) }}
            {{ form_end(formAddBalade) }}
        </div>


        
    </div>

{% endblock %}
