{% extends 'base.html.twig' %}


{% block title %}Search walk{% endblock %}

{% block body %}

    <div class="walk-searchform-page">
    
        <h1> Search a walk by city </h1>

        <hr>
        <div class="walk-form">
            {{ form_start(formSearchBalade) }}
            {{ form_end(formSearchBalade) }}
        </div>


        
    </div>

{% endblock %}