{% extends 'base.html.twig' %}

{% block title %}Balade page{% endblock %}

{% block body %}    
    <div>
        <h2>{{balade.nom}}</h2>
        {{balade.lieu}}
        {{balade.dateHeureDepart | date('d-m-Y H:i')}}
        {{balade.description}}
    </div>
   

{% endblock %}