{% extends 'base.html.twig' %}

{% block title %}Liste seances{% endblock %}

{% block body %}


    <h1>Upcoming sessions : </h1>
    <div class="future-sessions">

    {% for seance in seancesFutures %}
        
        <div class="session-box">
            <div class='session-title'>
                <p><a href="{{ path('show_seance', {'id': seance.id}) }}">{{ seance }}</a></p>
            </div>
            <div class='session-date'>
                <p>{{seance.dateHeureDepart | date('d-m-Y H:i')}}</p>
            </div>
            <div class='session-city'>
                <p>{{seance.ville}}</p>
            </div>
        </div>

    {% endfor %}
</div>

{% endblock %}
