{% extends 'base.html.twig' %}


{% block title %}Add session{% endblock %}

{% block body %}

    <div class="session-form-page">
    
        <h1> Add/Edit session info </h1>

        <hr>
        <div class="walk-form">
            {{ form_start(formAddSeance) }}
            {{ form_end(formAddSeance) }}
        </div>


        
    </div>

{% endblock %}
