{% extends 'base.html.twig' %}

{% block title %} Homepage - Walk&Train{% endblock %}
{% block meta_description %}
<meta name="description" content="Welcome to Walk&Train, a community for all dog lovers to discuss or search walks or training sessions around you.">
<meta name="keywords" content="dog project, dog, dog trainers near me, local dog trainers, dog walks near me, dog owners community">
{% endblock %}

{% block body %}
    <div class="homepage">
        <div class="homepage-container">
            <h1>Welcome to Walk&Train <i class="fa-solid fa-paw"></i></h1>
            <div class="homepage-menu">
                <a href="{{ path('app_recherche') }}"><div class="homepage-item">
                    <p><i class="fa-solid fa-magnifying-glass fa-xl"></i></p>
                    <p>Search for a Walk or a Training Session</p>
                    <p class="item-dots">...</p>
                    <p class="item-text">Crack Jennys tea cup come about grapple log run a shot across the bow boatswain swab careen quarterdeck lugsail. Gunwalls swing the lead lookout brigantine case shot transom chase grog blossom Nelsons folly coxswain.</p>
                </div></a>
                <a href="{{ path('new_balade') }}"><div class="homepage-item">
                    <p><i class="fa-solid fa-circle-plus fa-xl"></i></p>
                    <p>Create a Walk <br/><br/></p>
                    <p class="item-dots">...</p>
                    <p class="item-text">Crack Jennys tea cup come about grapple log run a shot across the bow boatswain swab careen quarterdeck lugsail. Gunwalls swing the lead lookout brigantine case shot transom chase grog blossom Nelsons folly coxswain.</p>
                </div></a>
                <a href="{{ path('app_categorie') }}"><div class="homepage-item">
                    <p><i class="fa-solid fa-comments fa-xl"></i></p>
                    <p>Go to the Forum <br/><br/></p>
                    <p  class="item-dots">...</p>
                    <p class="item-text">Crack Jennys tea cup come about grapple log run a shot across the bow boatswain swab careen quarterdeck lugsail. Gunwalls swing the lead lookout brigantine case shot transom chase grog blossom Nelsons folly coxswain.</p>
                </div></a>
            </div>
        </div>

    </div>
{% endblock %}
