{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
{% block meta_description %}
<meta name="description" content="This site's login page. One can also get to the register or reset password pages">
<meta name="keywords" content="dog, dog trainer near me, dog walks near me, dog owners community">
{% endblock %}

{% block body %}


<div>
    <h1>Welcome to my website</h1>
{% endblock %}
