{% extends 'base.html.twig' %}

{% block title %}Dog Project - Homepage{% endblock %}
{% block meta_description %}
<meta name="description" content="Welcome to the Dog Project, a community for all dog lovers to discuss or search walks or training sessions around you.">
<meta name="keywords" content="dog project, dog, dog trainers near me, local dog trainers, dog walks near me, dog owners community">
{% endblock %}

{% block body %}

    <h1>Welcome to my Dog Project</h1>
    
{% endblock %}
