{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
{% block meta_description %}
<meta name="description" content="Welcome to the Dog Project, a community for all dog lovers to discuss or search walks or training sessions around you.">
<meta name="keywords" content="dog project, dog, dog trainers near me, local dog trainers, dog walks near me, dog owners community">
{% endblock %}

{% block body %}


<div>
    <h1>Welcome to my website</h1>
{% endblock %}
