{% extends 'base.html.twig' %}

{% block title %}Privacy Policy{% endblock %}

{% block body %}

<main class="policy-container">

    <div class="policy-child">
        <h1>Privacy Policy</h1>

        <p>This Privacy Policy describes how Walk&Train collects, uses, and
            discloses your personal information when you visit our website.</p>

        <h2>Information We Collect</h2>
        <p>We may collect personal information that you voluntarily provide to us when you use our Site. This may
            include:</p>
        <ul>
            <li>Contact information (such as name, email address, phone number)</li>
            <li>Information provided through forms on the Site</li>
            <li>Communication preferences</li>
        </ul>

        <h2>Use of Information</h2>
        <p>We may use the information we collect for various purposes, including:</p>
        <ul>
            <li>Providing and maintaining the Site</li>
            <li>Personalizing your experience on the Site</li>
            <li>Communicating with you, including responding to inquiries and providing customer support</li>
            <li>Complying with legal obligations</li>
        </ul>

        <h2>Data Sharing</h2>
        <p>We may share your personal information in the following circumstances:</p>
        <ul>
            <li>When required by law or in response to a valid legal request</li>
            <li>With your consent or at your direction</li>
        </ul>

        <h2>Cookies</h2>
        <p>We only use necessary cookies. You can manage your cookie
            preferences through your browser settings.</p>

        <h2>Your Rights</h2>
        <p>You have certain rights regarding your personal information, including the right to access, update, or delete
            your information. Please contact us using the details below to exercise these rights.</p>

        <h2>Data Security</h2>
        <p>We take reasonable measures to protect your personal information from unauthorized access or disclosure.</p>

        <h2>Changes to This Privacy Policy</h2>
        <p>We may update this Privacy Policy periodically, and you will be notified of any change.</p>
    </div>
    
</main>

{% endblock %}