{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block title %}Ajout chien{% endblock %}

{% block body %}

    <div class="dog-form-page">
    
        <h1> Add/Edit dog info </h1>
        {# {{ dump(breedList) }} #}

        <hr>
        <div class="dog-form">
            {{ form_start(formAddChien, {'attr': {'id': 'chien_formu'}}) }}
            
            {{ form_end(formAddChien) }}
        </div>


        
    </div>

{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(function() {
            $('.select-breeds').select2();
        })
    </script>
{% endblock %}