{% extends 'base.html.twig' %}

{% block title %}Ajout chien{% endblock %}

{% block body %}

    <div class="form-body">
    
        <h1> Add/Edit dog info </h1>


        <hr>

        {{ form_start(formAddChien) }}
        {{ form_end(formAddChien) }}
    </div>

{% endblock %}