{% extends 'base.html.twig' %}

{% block title %}Ajout chien{% endblock %}

{% block body %}

    <div class="dog-form-page">
    
        <h1> Add/Edit dog info </h1>


        <hr>
        <div class="dog-form">
            {{ form_start(formAddChien) }}
            {{ form_end(formAddChien) }}
        </div>
    </div>

{% endblock %}