{% extends 'base.html.twig' %}

{% block title %}Ajout personne{% endblock %}

{% block body %}

    <div class="personne-form-page">
    
        <h1> Edit personne</h1>


        <hr>
        <div class="personne-form">
            {{ form_start(formAddPersonne) }}
            {{ form_end(formAddPersonne) }}
        </div>


        
    </div>

{% endblock %}