/*ENTIRE SITE*/

img {
    max-width: 200px;
}

:root {
    --darkBlue: #006D77;
    --lightBlue: #83C5BE;
    --aliceBlue: #EDF6F9;
    --beige: #FFDDD2;
    --tangerine: #E29578;
}

* {
    font-family: 'Raleway', sans-serif;
    
}
.button, .button1 {
  text-decoration: none;
  background-color: var(--darkBlue);
  color: white;
  padding: 2px 6px 2px 6px;
  border-radius: 30px;
  cursor: pointer;
}

/*NAVBAR*/
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--darkBlue);
  }
  
  .navbar li {
    float: left;
    border-right: 1px solid #bbb;
  }
  
  .navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar li:last-child {
    border-right: none;
  }
  
  
  .navbar li a:hover {
    background-color: var(--lightBlue); /* Change the link color to #111 (black) on hover */
  }
  
  
  .dropdown-elements {
    display: none;
    position: absolute;
    background-color: var(--darkBlue);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  
.dropdown-elements a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-elements {
    display: block;
  }
  

/*LOGIN PAGE*/
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url( '/images/site/waves-background.svg' );
}

input[type=email], input[type=password] {
  margin: 3px 1px; 
}

.form-container {
  width: 50%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px var(--tangerine);
  background-color: var(--aliceBlue);
  
}

.form-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container input,
.form-container button {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-container button {
  background-color: var(--tangerine);
  color: #fff;
  border: none;
  cursor: pointer;
}

.login-foot-container{
  display: flex;
  justify-content: space-between;
}

/*REGISTRATION PAGE*/
.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url( '/images/site/waves-background.svg' );
}

.register-form-container {
  width: 50%;
  padding: 20px;

  border-radius: 5px;
  box-shadow: 0 0 10px var(--tangerine);
  background-color: var(--aliceBlue);
  
}

.register-form-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.register-form-container form {
  display: flex;
  flex-direction: column;
}

.register-form-container input,
.register-form-container button {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.register-form-container button {
  background-color: var(--tangerine);
  color: #fff;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 3px;
}

/*RESET PASSWORD PAGE*/
.reset-password-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url( '/images/site/waves-background.svg' );
}

.reset-password-form-container {
  width: 50%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px var(--tangerine);
  background-color: var(--aliceBlue);
  
}

.reset-password-form-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.reset-password-form-container form {
  display: flex;
  flex-direction: column;
}

.reset-password-form-container input,
.reset-password-form-container button {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.reset-password-form-container button {
  background-color: var(--tangerine);
  color: #fff;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 3px;
}

/*SEARCH PAGE*/
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url( '/images/site/waves-background.svg' );
  background-repeat: no-repeat round;
}

.search-form-container {
  width: 70%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px var(--tangerine);
  background-color: var(--aliceBlue);
  
}

.search-form-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.search-form-container form {
  display: flex;
  flex-direction: column;
}

.search-form-container input,
.search-form-container button {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.search-form-container button {
  background-color: var(--tangerine);
  color: #fff;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 3px;
}

/*Forum main page*/

.category-head{
  width: 100%;
  text-align: center;
  background-color: var(--lightBlue);
  
}


.category-head h1 {
  margin: 0%;
  padding-top: 10px;
  padding-bottom: 5px;
}

.category-head p {
  margin: 0%;
  padding-bottom: 10px;
}

.category-main{
  display: flex;
  border:solid 1px var(--darkBlue);
  background-color: var(--beige);
}

.category-left{
  width: 20%;
  text-align: center;
  overflow: hidden;
}

.category-left a {
  background-color: var(--darkBlue);
  padding: 8px;
  margin-top: 5px;
  margin-left: 5px;
  display: block;
  width: 100%;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.category-right {
  width: 100%;
  margin-left: 10px;
}

.topic{
  border-radius: 25px;
  margin-top: 6px;
  border-bottom:solid 1px var(--darkBlue);
  border-left:solid 1px var(--darkBlue);
  background-color: var(--aliceBlue);
}

.topic-date {
  background-color: var(--darkBlue);
  color: white;
  padding: 2px;
}

.topic-date a {
  float: inline-end;
  text-decoration: none;
  color: white;
  margin-left: 5px;
}

.topic-body {
  display: flex;
}

.topic-user {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 2px;
  padding-right: 20px;
  padding-left: 20px;
  border-right: solid 1px var(--darkBlue); 
}

.topic-user a{
  text-decoration: none;
  color: black;
}

.topic-picture {
  border-radius: 50%;  
  height: 100px; 
  width: 100px;
  object-fit: cover;
}

.topic-content {
  display: flex;
  align-items: center;
  padding-left: 60px;
  flex-grow: 3;
}

.topic-nb-posts {
  display: flex;
  align-items: center;
  padding : 10px;
  border-left:solid 1px var(--darkBlue);
}

/*FORUM SHOW CATEGORY TOPICS PAGE*/

form#new-topic-form{
  justify-content: space-between;
}

input#topic_form_titre{
  width: 80%;
  height: 50px;
  margin: 10px;
  padding: 10px;
}

button#topic_form_submit{
  width: 20%;
  margin: 10px;
  height: 50px;
  padding: 10px;
  color: white;
  background-color: var(--darkBlue);
}

/*FORUM SHOW TOPIC POSTS PAGE*/
form#new-post-form{
  justify-content: space-between;
}

textarea#post_form_contenu{
  width: 80%;
  height: 50px;
  margin: 10px;
  padding: 10px;
  resize: none;
}

button#post_form_submit{
  width: 20%;
  margin: 10px;
  height: 50px;
  padding: 10px;
  color: white;
  background-color: var(--darkBlue);
}


textarea#text_post_edit{
  height : 100px;
  width: 100%;
  resize: none;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  border-radius: 5px;
}

.topic-edit-delete{
  position: absolute;
  top: 70px;
  right: 15px;
}

.topic-edit-delete a {
  color: var(--darkBlue);
}

/*DOG FORM*/
.dog-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url( '/images/site/waves-background.svg' );
}

.dog-form-container {
  width: 50%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px var(--tangerine);
  background-color: var(--aliceBlue);
  margin-bottom: 100px;
  margin-top: 30px;
  
}

.dog-form-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.dog-form-container form {
  display: flex;
  flex-direction: column;
}

.dog-form-container input,
.dog-form-container button {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.dog-form-container button {
  background-color: var(--tangerine);
  color: #fff;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 3px;
}

select#dog_races_edit {
  width:100%;
  margin-bottom: 30px;
  overflow: hidden;
}

button#chien_form_submit{
  width: 100%;
  color: white;
  background-color: var(--tangerine);
  margin-top: 20px;
}

/*WALK FORM*/
.walk-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url( '/images/site/waves-background.svg' );
}

.walk-form-container {
  width: 50%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px var(--tangerine);
  background-color: var(--aliceBlue);
  margin-bottom: 100px;
  margin-top: 30px;
  
}

.walk-form-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.walk-form-container form {
  display: flex;
  flex-direction: column;
}

.walk-form-container input,
.walk-form-container button {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid var(--aliceBluee);
  border-radius: 3px;
}

.walk-form-container button {
  background-color: var(--tangerine);
  color: #fff;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 3px;
}

button#balade_form_submit, button#seance_form_submit{
  width: 100%;
  color: white;
  background-color: var(--tangerine);
  margin-top: 20px;
}

#map_add_balade, #map_add_seance {
  border:solid 3px var(--lightBlue);
  width: 100%;
  margin-top: 20px;
  border-radius: 3px;
}

select#seance_form_theme{
  width:100%;
  margin-bottom: 30px;
  background-color: white;
  height: 35px;
  border-radius: 3px;
}

.hidden {
  display: none;
}

/*USER PROFILE PAGE*/

.user-profile-head{
  width: 100%;
  text-align: center;
  background-color: var(--lightBlue);
  
}


.user-profile-head h1 {
  margin: 0%;
  padding-top: 10px;
  padding-bottom: 5px;
}

.user-profile-head p {
  margin: 0%;
  padding-bottom: 10px;
}

.user-edit-delete{
  position: absolute;
  top: 70px;
  right: 15px;
}

.user-edit-delete a {
  color: var(--darkBlue);
}

.new-dog-button {
  text-decoration: none;
  background-color: var(--darkBlue);
  color: white;
  padding: 2px 6px 2px 6px;
  border-radius: 30px;
  position: absolute;
  top: 100px;
  right: 15px;
}

.user-container {
  display: flex;
  border-bottom:solid 1px var(--darkBlue);
}

.user-container-left {
  padding: 15px;
  border-right:solid 1px var(--darkBlue);
}

.user-container-right {
  padding: 15px;
}

.user-container-right a {
  color: var(--darkBlue);
}

.user-profile-picture {
  border-radius: 50%;  
  height: 200px; 
  width: 200px;
  object-fit: cover;
  border:solid 1px var(--tangerine);
  margin: 2px;
}

.dog-icon {
  border-radius: 50%;  
  height: 100px; 
  width: 100px;
  object-fit: cover;
  border:solid 1px var(--tangerine);
  margin: 2px;
}
.modal-dialog{
  width: 20%;
}
.modal{
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 50;
  top: 0;
  width: 100%;  
  overflow: auto;
  outline: 0
  
}

.modal-content {
  background-color: var(--aliceBlue);
  margin: 10px;
  padding: 20px;
  width: 100%;
  border:solid 1px var(--tangerine);
}

.dog-picture {
  width : 95%;
  border-radius: 10%;
}


#roleBtn {
  color: white;
  background-color: var(--darkBlue);
}

/*WALK/SESSIONS VIEWS */
.event-container{
  display: flex;
  border:solid 1px var(--darkBlue);
  
}

.event-container-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event-information {
  border:solid 1px var(--tangerine);
  box-shadow: 10px 5px 5px var(--tangerine);
  margin: 15px;
  padding: 10px;
}

.event-information p a{
  color: black;
}

.event-container-right{
  width: 50%;
  background-image: url( '/images/site/poly-background.svg' );
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.participant-line{
  color: white;
  background-color: var(--darkBlue);
  margin: 20px 20px 10px 20px;
}

.participants{
  display: flex;
  flex-direction: row;
  margin: 0px 20px 10px 20px;
}
.participant-picture {
  border-radius: 50%;  
  height: 100px; 
  width: 100px;
  object-fit: cover;
  border:solid 1px var(--darkBlue);
  margin: 2px;
}

.user-box{
  display: flex;
  flex-direction: column;
}

.discussion-line {
  width: 100%;
  color: white;
  background-color: var(--darkBlue);
  margin: 0px 0px 10px 0px;
  font-size: 1.2em;
}
#map_show {
  border:solid 3px var(--darkBlue);
}

  /*css for trainer modal*/

/* The Modal (background) */
.modal1 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 50%; 
  height: 100%; 
  overflow: auto;
  
}


/* Modal Content */
.modal-content1 {
  background-color: var(--aliceBlue);
  margin: auto;
  padding: 20px;
  width: 50%;
  border:solid 1px var(--tangerine);
}

/* The Close Button */
.close, .roleClose {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .roleClose:hover,
.close:focus, .roleClose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}



