/*ENTIRE SITE*/

img {
    max-width: 200px;
}



:root {
    --darkBlue: #006D77;
    --lightBlue: #83C5BE;
    --aliceBlue: #EDF6F9;
    --beige: #FFDDD2;
    --tangerine: #E29578;
}

* {
    font-family: 'Raleway', sans-serif;
    
}
.button {
  text-decoration: none;
  background-color: var(--darkBlue);
  color: white;
  padding: 2px 6px 2px 6px;
  border-radius: 30px;
}

/*NAVBAR*/
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--darkBlue);
  }
  
  .navbar li {
    float: left;
    border-right: 1px solid #bbb;
  }
  
  .navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar li:last-child {
    border-right: none;
  }
  
  
  .navbar li a:hover {
    background-color: var(--lightBlue); /* Change the link color to #111 (black) on hover */
  }
  
  
  .dropdown-elements {
    display: none;
    position: absolute;
    background-color: var(--darkBlue);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  
  .dropdown-elements a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-elements {
    display: block;
  }
  

/*LOGIN PAGE*/
.login-page{
  display: flex;
  justify-content: center;
}
.login-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--aliceBlue);
  border: 1px solid #888;
  width: 75%;
}


.form-container{
    display: flex;
    flex-direction: column;
}


.login-child {
    display: inline-block;
    margin: 10px auto 10px auto;
    background-color: var(--aliceBlue);
    width: 75%;
}
input[type=email], input[type=password] {
  width: 95%;
  display: inline-block;
  box-sizing: border-box;
}
.login-button {
    background-color: var(--darkBlue);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 95%;
}

.login-button:hover {
    opacity: 0.8;
}

.login-foot{
  display: flex;
  justify-content: center;
  width: 75%;
}

.login-foot-container{
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  width: 75%;
}

.login-foot-child{
  padding:10px;
}


/*User display on walk session views*/
.participant-line{
  width: 100%;
  color: white;
  background-color: var(--darkBlue);
  font-size: 1.2em;
  margin: 10px 0px 10px 0px;
}
.participants{
  display: flex;
  flex-direction: row;
}

.user-box{
  display: flex;
  flex-direction: column;
}

#map_show {
  border:solid 3px var(--darkBlue);
}