/*ENTIRE SITE*/

img {
    max-width: 200px;
}

:root {
    --darkBlue: #006D77;
    --lightBlue: #83C5BE;
    --aliceBlue: #EDF6F9;
    --beige: #FFDDD2;
    --tangerine: #E29578;
}

* {
    font-family: 'Raleway', sans-serif;
    
}
.button {
  text-decoration: none;
  background-color: var(--darkBlue);
  color: white;
  padding: 2px 6px 2px 6px;
  border-radius: 30px;
}

/*NAVBAR*/
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--darkBlue);
  }
  
  .navbar li {
    float: left;
    border-right: 1px solid #bbb;
  }
  
  .navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar li:last-child {
    border-right: none;
  }
  
  
  .navbar li a:hover {
    background-color: var(--lightBlue); /* Change the link color to #111 (black) on hover */
  }
  
  
  .dropdown-elements {
    display: none;
    position: absolute;
    background-color: var(--darkBlue);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  
.dropdown-elements a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-elements {
    display: block;
  }
  

/*LOGIN PAGE*/
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--lightBlue);
}

input[type=email], input[type=password] {
  margin: 3px 1px; 
}

.form-container {
  width: 50%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px var(--tangerine);
  background-color: var(--aliceBlue);
  
}

.form-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container input,
.form-container button {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-container button {
  background-color: var(--tangerine);
  color: #fff;
  border: none;
  cursor: pointer;
}

.login-foot-container{
  display: flex;
  justify-content: space-between;
}

/*REGISTRATION PAGE*/
.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--lightBlue);
}

.register-form-container {
  width: 50%;
  padding: 20px;

  border-radius: 5px;
  box-shadow: 0 0 10px var(--tangerine);
  background-color: var(--aliceBlue);
  
}

.register-form-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.register-form-container form {
  display: flex;
  flex-direction: column;
}

.register-form-container input,
.register-form-container button {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.register-form-container button {
  background-color: var(--tangerine);
  color: #fff;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 3px;
}

/*RESET PASSWORD PAGE*/
.reset-password-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--lightBlue);
}

.reset-password-form-container {
  width: 50%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px var(--tangerine);
  background-color: var(--aliceBlue);
  
}

.reset-password-form-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.reset-password-form-container form {
  display: flex;
  flex-direction: column;
}

.reset-password-form-container input,
.reset-password-form-container button {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.reset-password-form-container button {
  background-color: var(--tangerine);
  color: #fff;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 3px;
}

/*SEARCH PAGE*/
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--lightBlue);
}

.search-form-container {
  width: 70%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px var(--tangerine);
  background-color: var(--aliceBlue);
  
}

.search-form-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.search-form-container form {
  display: flex;
  flex-direction: column;
}

.search-form-container input,
.search-form-container button {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.search-form-container button {
  background-color: var(--tangerine);
  color: #fff;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 3px;
}

/*Forum main page*/

.category-head{
  width: 100%;
  text-align: center;
  background-color: var(--lightBlue);
}

.category-head h1 {
  margin: 0%;
  padding-top: 10px;
  padding-bottom: 5px;
}

.category-head p {
  margin: 0%;
  padding-bottom: 10px;
}

.category-main{
  display: flex;
  border:solid 1px var(--darkBlue);
  background-color: var(--beige);
}

.category-left{
  width: 20%;
  text-align: center;
  overflow: hidden;
}

.category-left a {
  background-color: var(--darkBlue);
  padding: 8px;
  margin-top: 5px;
  margin-left: 5px;
  display: block;
  width: 100%;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.category-right {
  width: 100%;
  margin-left: 10px;
}

.topic{
  border-radius: 25px;
  margin-top: 6px;
  border-bottom:solid 1px var(--darkBlue);
  border-left:solid 1px var(--darkBlue);
}

.topic-date {
  background-color: var(--darkBlue);
  color: white;
  padding: 2px;
}

.topic-date a {
  float: inline-end;
  text-decoration: none;
  color: white;
}

.topic-body {
  display: flex;
}

.topic-user {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 2px;
  padding-right: 20px;
  padding-left: 20px;
  border-right: solid 1px var(--darkBlue); 
}

.topic-user a{
  text-decoration: none;
  color: black;
}

.topic-picture {
  border-radius: 30%;  
  height: 100px; 
  width: 100px;
  object-fit: cover;
}

.topic-content {
  display: flex;
  align-items: center;
  padding-left: 60px;
  flex-grow: 3;
}

.topic-nb-posts {
  display: flex;
  align-items: center;
  padding : 10px;
}

/*FORUM SHOW CATEGORY TOPICS PAGE*/

form#new-topic-form{
  justify-content: space-between;
}

input#topic_form_titre{
  width: 80%;
  height: 50px;
  margin: 10px;
  padding: 10px;
}

button#topic_form_submit{
  width: 20%;
  margin: 10px;
  height: 50px;
  padding: 10px;
  color: white;
  background-color: var(--darkBlue);
}

/* .topic-options{
  position: absolute;
}

.topic-options a{
  color: var(--lightBlue);
} */

/*User display on walk session views*/
.participant-line{
  width: 100%;
  color: white;
  background-color: var(--darkBlue);
  font-size: 1.2em;
  margin: 10px 0px 10px 0px;
}
.participants{
  display: flex;
  flex-direction: row;
}

.user-box{
  display: flex;
  flex-direction: column;
}

#map_show {
  border:solid 3px var(--darkBlue);
}

/* MAP/SESSION CREATE PAGE */
.hidden {
  display: none;
}



