{% extends 'base.html.twig' %}

{% block title %}Ajout post{% endblock %}

{% block body %}

    <div class="post-form-page">
    
        <h1> Add/Edit post</h1>


        <hr>
        <div class="post-form">
            {{ form_start(formAddPost) }}
            {{ form_end(formAddPost) }}
        </div>


        
    </div>

{% endblock %}