<div class="container-fluid" id="edit-topic">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <p>Edit your topic's title </p>
                </div>
                <div class="card-body">
                   
                        {{ form_start(formAddTopic) }}
                            {{ form_widget(formAddTopic.titre, {'attr': {'placeholder': "Your topic's title"}}) }}
                </div>
                <div class="card-footer">
                    {{ form_widget(formAddTopic.submit, {
                        'label': 'edit topic'}) }}
                {{ form_end(formAddTopic) }}
       
                </div>                        
            </div>
        </div>
    </div>
</div>