{% extends 'base.html.twig' %}

{% block title %}Ajout topic{% endblock %}

{% block body %}

<div class="reset-password-container">
    <div class="reset-password-form-container">
      
        <h1>Edit your topic's title <i class="fa-solid fa-paw"></i></h1>
      
        <form method="post" class="reset-password-form">
            {{ form_start(formAddTopic) }}
                {{ form_widget(formAddTopic.titre, {
                    'id': 'text_post_edit'})
                }}
                {{ form_widget(formAddTopic.submit, {
                    'label': 'Edit comment',
                    'id': 'button_post_edit'}) 
                }}
            {{ form_end(formAddTopic) }}              
        </form> 

    </div>     
</div>

{% endblock %}