{% extends 'base.html.twig' %}

{% block title %}Ajout topic{% endblock %}

{% block body %}

    <div class="topic-form-page">
    
        <h1> Add/Edit topic</h1>


        <hr>
        <div class="topic-form">
            {{ form_start(formAddTopic) }}
            {{ form_end(formAddTopic) }}
        </div>


        
    </div>

{% endblock %}