{% extends 'base.html.twig' %}

{% block title %}CategoryList{% endblock %}

{% block body %}


<div class="categories">
    <table>
        <thead>
            <tr>
                <th>categories</th>
            </tr>
        </thead>
        <tbody>
            {% for categorie in categories %}
                <tr>
                    {% if (categorie.nom != 'Walks') and (categorie.nom != 'Sessions') %}
                        <td><a href="{{ path('show_categorie', {'id': categorie.id}) }}">{{ categorie }}</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
